.body {
  padding: 0;
  margin: 0;
}

.banner {
  background-image: url("./images/bg-desktop-light.jpg");
  /* background-size: cover; */
  height: 200px;
  /* margin: 0; */
}
.form {
  margin-left: 50%;
  margin-top: 100px;
  margin-right: 50%;
  align-items: center;
}
.todos {
  padding: 5px;
  border-radius: 4px;
  width: 200px;
}

.todo {
  align-items: center;
  width: 120px;
}
.li {
  margin-left: 80px;
  align-self: center;
  width: 300px;
  border: 1px solid black;
  display: flex;
  padding: 5px;
  border-left: 2px solid rgba(60, 223, 60, 0.518);
  justify-content: space-between;
}
.delete {
  /* float: right; */
  background: #f70000;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
.cross {
  /* float: right; */
  color: #ffffff;
  height: 30px;
  width: 30px;
  border: 100%;
  border-radius: 50%;
  padding: 4px;
}
